@font-face {
    font-family: 'Lexend';
    src: url('/assets/media/fonts/Lexend/Lexend-VariableFont_wght.ttf');
 }

 .tiitle_modal_dark{
    color: #162440 !important;
    font-family: Lexend;
    font-size:40px;
	letter-spacing:0;
    font-weight: 500;
    text-shadow: 1px 3px 11px rgba(0, 0, 0, 0.2);
 }

 .tiitle_modal_white{
    color: #fff !important;
    font-family: Lexend;
    font-size:30px;
	letter-spacing:0;
    font-weight: 300;
    text-shadow: 1px 3px 11px rgba(0, 0, 0, 0.2);
 }

 .subtittle_white{
    color: #fff !important;
    font-family: Lexend;
    font-size:15px;
	letter-spacing:0;
    font-weight: 300;
    text-shadow: 1px 3px 11px rgba(0, 0, 0, 0.2);
 }

 .modal-content {
    border-radius: 19px;
}

.modal_bg {
    position: relative;
    overflow: hidden;
    height: 140%;
    background: #F0F0F0;
    border-radius: 19px;
    padding: 0;
}

.modal_bg_edit_product {
    position: relative;
    overflow: hidden;
    height: 140%;
    background: #577590b0;
    border-radius: 19px;
    padding: 0;
}




.modal_bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background-image: url(/assets/media/img/backgrounds/patter_sf.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    opacity: 0.10;
    z-index: 1;
    width: 200%;
    border-radius: 19px;
}

.modal_bg_edit_product::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background-image: url(/assets/media/img/backgrounds/patter_sf.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    opacity: 0.10;
    z-index: 1;
    width: 200%;
    border-radius: 19px;
}

.swal2-styled.swal2-confirm{
    background: #162440!important;
    border-radius: 9px!important;;
}

.btn_swalater_confirm{
    text-decoration: none;
    color: #fff;
}

.swal2-styled.swal2-cancel {
    background: #577590!important;
    border-radius: 9px!important;;
}

.btn_swalater_cancel{
    text-decoration: none;
    color: #fff;
}


.float{
	position:fixed;
	width:40px;
	height:40px;
	bottom:40px;
	right:40px;
	background-color:#577590;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
    border: solid 3px#fff;
}

.my-float{
	margin-top:16px;
}

.icon_float_scanner{
    width: 20px;
    position: absolute;
    left: 21%;
    top: 21%;}

