.bg_product {
    position: relative;
}

.bg_product::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background-image: url(/assets/media/img/backgrounds/patter_sf.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    opacity: 0.07;
    z-index: 1;
    width: 100%;
    }

.card_prodcut{
    border-radius: 16px;
    background-color: #577590;
    width: 100%;

}

.card_container_img{
    background-color: #fff;
    border-radius: 9px;
}

.img_portada_product{
    width: 90px;
    height: auto;
    padding: 15px;
}


.img_portada_product_edit{
    width: 130px;
    height: auto;
    padding: 15px;
}


.tiitle_products{
    color: #fff!important;
    font-family: Lexend;
    font-weight: 500;
    font-size: 14px;
    text-shadow: 3px 5px 10px rgb(2 2 2);
}

.subtitle_products{
    color: #fff!important;
    font-family: Lexend;
    font-weight: 300;
    font-size: 10px;
    text-shadow: 3px 5px 10px rgb(2 2 2);
}

.icon_product{
    width: 15px;
}

.btn_edit_prodcut{
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1) 100%) ;
	width:105.26315307617188px;
    border-radius: 9px;
}

.card_box_colores{
    width: 43px;
    height: 43px;
    border-radius: 9px;
    box-shadow:1px 1px 6px rgba(87.00000241398811, 117.00000062584877, 144.00000661611557, 0.6000000238418579);
	background-color:rgba(234.00000125169754, 255, 109.00000110268593, 1);
    cursor: pointer;
}

.stock{
    background-color: #6DFF73;
}

.lowStock{
    background-color: #EAFF6D;
}

.outStock{
    background-color: #FF6D6D;
}

.text_estatus_product{
    color: #000!important;
    font-family: Lexend;
    font-weight: 400;
    font-size: 13px;
    text-shadow: 3px 5px 10px rgb(2 2 2 / 42%);
    position: relative;
    top: 60px;
    left: -18px;
    width: 100px;
}

.bg_img_portada{
    background: #fff;
    border-radius: 16px;
    padding: 15px;
}
